<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Gymate - Gym Fitness Bootstrap 5 Template</title>
    <meta name="robots" content="index, follow" />
    <meta name="description" content="Try out Gymate Gym Fitness Bootstrap 5 Template today because this awesome fitness related website template comes completely free of any cost.">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="frontend_style/images/favicon.png">

    <!-- CSS
	============================================ -->

    <!-- Vendor CSS (Bootstrap & Icon Font) -->
    <link rel="stylesheet" href="{{url('frontend_style/css/vendor/font-awesome-pro.min.css')}}">
    <link rel="stylesheet" href="{{url('frontend_style/css/vendor/pe-icon-7-stroke.css')}}">

    <!-- Plugins CSS (All Plugins Files) -->
    <link rel="stylesheet" href="{{url('frontend_style/css/plugins/swiper.min.css')}}">
    <link rel="stylesheet" href="{{url('frontend_style/css/plugins/animate.css')}}">
    <link rel="stylesheet" href="{{url('frontend_style/css/plugins/aos.min.css')}}">
    <link rel="stylesheet" href="{{url('frontend_style/css/plugins/magnific-popup.css')}}">

    <!-- Main Style CSS -->
    <link rel="stylesheet" href="{{url('frontend_style/css/style.css')}}">

    <!-- Use the minified version files listed below for better performance and remove the files listed above -->
    <!-- <link rel="stylesheet" href="frontend_style/css/vendor/vendor.min.css">
    <link rel="stylesheet" href="frontend_style/css/plugins/plugins.min.css">
    <link rel="stylesheet" href="frontend_style/css/style.min.css"> -->

</head>

<body>
    <div id="page" class="section">
    <!-- Header Section Start -->
    <div class="header-section header-transparent sticky-header header-fluid section">
        <div class="header-inner">
            <div class="container position-relative">
                <div class="row justify-content-between align-items-center">

                    <!-- Header Logo Start -->
                    <div class="col-xl-2 col-auto">
                        <div class="header-logo">
                            <a href="index.html">
                                <img class="dark-logo" src="frontend_style/images/logo/logo.png" alt="Fitness Logo">
                                <img class="light-logo" src="frontend_style/images/logo/logo.png" alt="Fitness Logo">
                            </a>
                        </div>
                    </div>
                    <!-- Header Logo End -->

                 <!-- Header Main Menu Start -->
                 <div class="col d-none d-xl-block">
                        <div class="menu-column-area d-none d-xl-block position-static">
                            <nav class="site-main-menu">
                                <ul>
                                    <li>
                                        <a href="#HOME"><span class="menu-text">Home</span></a>
                                    </li>
                                    <li class="has-children">
                                        <a href="about.html"><span class="menu-text">Pages</span></a>
                                        <span class="menu-toggle"><i class="far fa-angle-down"></i></span>
                                        <ul class="sub-menu">
                                            <li><a href="{{Route('about')}}"><span class="menu-text" >About</span></a></li>
                                            <li><a href="#EXPERIENCED_COACHES"><span class="menu-text">Our Team</span></a></li>
                                            <li><a href="contact.html"><span class="menu-text">Contact</span></a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="our-program.html"><span class="menu-text">Our Program</span></a>
                                    </li>
                              
                                        
                                    <li>
                                        <a href="{{Route('bl')}}"><span class="menu-text">Admin Login</span></a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <!-- Header Main Menu End -->


                    <!-- Header Right Start -->
                    <div class="col-xl-2 col-auto d-flex align-items-center justify-content-end">
                        <!-- Header Search Start -->
                        <div class="header-search-area mr-xl-4 mr-0">

                            <!-- Header Login Start -->
                            <div class="header-search">
                                <a href="javascript:void(0)" class="header-search-toggle"><i
                                        class="pe-7s-search pe-2x pe-va"></i></a>
                            </div>
                            <!-- Header Login End -->
                        </div>
                        <!-- Header Search End -->

                      
                            <div class="header-mini-cart">
                                <div class="inner">

                                    <!-- Header Mini Cart Product Start -->
                                    <div class="mini-cart-products">
                                        <div class="mini-cart-product">
                                            <a href="#" class="thumb"><img
                                                    src="frontend_style/images/shop/shopping-cart/product-1.jpg" alt=""></a>
                                            <div class="content">
                                                <a href="#" class="title">Online Student: Strategies for Effective
                                                    Learning</a>
                                                <span class="quantity">1 x <span class="price">$67.00</span></span>
                                            </div>
                                            <a href="#" class="remove"><i class="far fa-times"></i></a>
                                        </div>
                                        <div class="mini-cart-product">
                                            <a href="#" class="thumb"><img
                                                    src="frontend_style/images/shop/shopping-cart/product-2.jpg" alt=""></a>
                                            <div class="content">
                                                <a href="#" class="title">Principles of Business Administration</a>
                                                <span class="quantity">1 x <span class="price">$52.00</span></span>
                                            </div>
                                            <a href="#" class="remove"><i class="far fa-times"></i></a>
                                        </div>
                                    </div>
                                    <!-- Header Mini Cart Product End -->

                                    <!-- Header Mini Cart Footer Start -->
                                    <div class="mini-cart-footer">
                                        <div class="mini-cart-total">
                                            <b>Total:</b>
                                            <span class="amount">$119.00</span>
                                        </div>
                                        <div class="mini-cart-buttons">
                                            <a href="shopping-cart.html"
                                                class="btn btn-primary btn-hover-secondary">View Cart</a>
                                            <a href="checkout.html"
                                                class="btn btn-primary btn-hover-secondary">Checkout</a>
                                        </div>
                                    </div>
                                    <!-- Header Mini Cart Footer End -->
                                </div>
                            </div>
                            <!-- Header Mini Cart End -->
                        </div>
                        <!-- Header Cart End -->

                        <!-- Header Mobile Menu Toggle Start -->
                        <div class="header-mobile-menu-toggle d-xl-none ml-sm-2">
                            <button class="toggle">
                                <i class="icon-top"></i>
                                <i class="icon-middle"></i>
                                <i class="icon-bottom"></i>
                            </button>
                        </div>
                        <!-- Header Mobile Menu Toggle End -->
                    </div>
                    <!-- Header Right End -->

                </div>
            </div>
        </div>
    </div>

        <!-- Main Search Start -->
        <div class="main-search-active">
            <div class="sidebar-search-icon">
                <button class="search-close"><i class="fal fa-times"></i></button>
            </div>
            <div class="sidebar-search-input">
                <form action="#">
                    <div class="form-search">
                        <input id="search" class="input-text" value="" placeholder="" type="search">
                        <button>
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </form>
                <p class="form-description">Hit enter to search or ESC to close</p>
            </div>
        </div>
        <!-- Main Search End -->

        <!-- Page Title Section Start -->
        <div class="page-title-section section" data-overlay="0.7" data-bg-image="frontend_style/images/bg/breadcrumb-about.jpg">
            <div class="page-title pt-lg-10 pt-10">
                <div class="container">
                    <h1 class="title">About Us</h1>
                </div>
            </div>
        </div>
        <!-- Page Title Section End -->

        <!-- Building Fitness Section Start -->
        <div class="section section-fluid section-padding-t180-b210">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-5 col-lg-12">
                        <div class="building-fitness-content">
                            <!-- Section Title Two Start -->
                            <div class="section-title-two text-xl-left text-center mb-6" data-aos="fade-up">
                                <span class="sub-title">WHAT WE DO</span>
                                <h2 class="title">Building confidence. <br> Building fitness</h2>
                                <p class="desc m-xl-0 m-auto">
                                    Vestibulum sed lectus massa. Donec egestas, diam sed ultrices hendrerit, est justo gravida eros, a mollis ipsum justo dapibus lacus. Pellentesque
                                </p>
                            </div>
                            <!-- Section Title Two End -->

                        </div>
                    </div>
                    <div class="col-xl-7 col-lg-12">
                        <div class="row row-cols-lg-2 row-cols-sm-2 row-cols-1 mb-n14">
                            <div class="col mb-14" data-aos="fade-up">
                                <!-- Single Icon Box Start -->
                                <div class="icon-box text-center">
                                    <div class="icon" data-vivus-hover>
                                        <img class="svgInject" src="frontend_style/images/icon/icon-box2.svg" alt="">
                                    </div>
                                    <div class="content">
                                        <h3 class="title">GROUP FITNESS</h3>
                                        <div class="desc">
                                            <p>Phasellus nulla mauris, imperdiet</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- Single Icon Box End -->
                            </div>
                            <div class="col mb-14" data-aos="fade-up" data-aos-delay="300">
                                <!-- Single Icon Box Start -->
                                <div class="icon-box text-center">
                                    <div class="icon" data-vivus-hover>
                                        <img class="svgInject" src="frontend_style/images/icon/icon-box3.svg" alt="">
                                    </div>
                                    <div class="content">
                                        <h3 class="title">GROUP FITNESS</h3>
                                        <div class="desc">
                                            <p>Phasellus nulla mauris, imperdiet</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- Single Icon Box End -->
                            </div>
                            <div class="col mb-14" data-aos="fade-up" data-aos-delay="600">
                                <!-- Single Icon Box Start -->
                                <div class="icon-box text-center">
                                    <div class="icon" data-vivus-hover>
                                        <img class="svgInject" src="frontend_style/images/icon/icon-box1.svg" alt="">
                                    </div>
                                    <div class="content">
                                        <h3 class="title">GROUP FITNESS</h3>
                                        <div class="desc">
                                            <p>Phasellus nulla mauris, imperdiet</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- Single Icon Box End -->
                            </div>
                            <div class="col mb-14" data-aos="fade-up" data-aos-delay="900">
                                <!-- Single Icon Box Start -->
                                <div class="icon-box text-center">
                                    <div class="icon" data-vivus-hover>
                                        <img class="svgInject" src="frontend_style/images/icon/icon-box4.svg" alt="">
                                    </div>
                                    <div class="content">
                                        <h3 class="title">GROUP FITNESS</h3>
                                        <div class="desc">
                                            <p>Phasellus nulla mauris, imperdiet</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- Single Icon Box End -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Building Fitness Section End -->

        <!-- Fit Section Start -->
        <div class="section">
            <div class="container-fluid px-0">
                <div class="row row-cols-lg-2 row-cols-1 g-0">
                    <div class="col" data-aos="fade-up">
                        <!-- Fit Image Start -->
                        <div class="fit-image">
                            <img src="frontend_style/images/fit/fit-bg.jpg" alt="fit">
                        </div>
                        <!-- Fit Image End -->
                    </div>
                    <div class="col" data-aos="fade-up" data-aos-delay="300">
                        <!-- Fit Content Start -->
                        <div class="fit-content">
                            <div class="fit-inner">
                                <!-- Section Title Two Start -->
                                <div class="section-title-two color-light">
                                    <span class="sub-title">WHAT WE COMMITED</span>
                                    <h2 class="title">Commit to be Fit</h2>
                                    <p class="desc">Suspendisse eu odio consequat, lacinia tellus at, molestie orci. Suspendisse eu eros condimentum, tincidunt libero</p>
                                </div>
                                <!-- Section Title Two End -->
                                <ul class="fitness-list">
                                    <li class="item">
                                        <div class="icon">
                                            <i class="fal fa-check-circle"></i>
                                        </div>
                                        <div class="text">Tia tellus at, molestie oruspendis</div>
                                    </li>
                                    <li class="item">
                                        <div class="icon">
                                            <i class="fal fa-check-circle"></i>
                                        </div>
                                        <div class="text">Fermentum non massa nec</div>
                                    </li>
                                    <li class="item">
                                        <div class="icon">
                                            <i class="fal fa-check-circle"></i>
                                        </div>
                                        <div class="text">Vestibulum vulputate felis non</div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- Fit Content End -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Fit Section End -->

        <!-- Brand Section Start -->
        <div class="section section-padding-t120-b140">
            <div class="container">
                <!-- Section Title Two Start -->
                <div class="section-title-two text-center" data-aos="fade-up">
                    <span class="sub-title">TRUSTED CLIENT</span>
                    <h2 class="title">Everyone in life needs balance.</h2>
                    <p class="desc m-auto">Suspendisse eu odio consequat, lacinia tellus at, molestie orci. Suspendisse eu eros condimentum, tincidunt libero</p>
                </div>
                <!-- Section Title Two End -->

                <div class="row">
                    <div class="col-lg-12">
                        <div class="brand-wrapper" data-aos="fade-up" data-aos-delay="300">
                            <div class="brand-list">
                                <div class="brand-carousel swiper-container">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide brand">
                                            <a href="#">
                                                <img src="frontend_style/images/brand/client-logo-01.png" alt="logo image">
                                            </a>
                                        </div>

                                        <div class="swiper-slide brand">
                                            <a href="#">
                                                <img src="frontend_style/images/brand/client-logo-02.png" alt="logo image">
                                            </a>
                                        </div>

                                        <div class="swiper-slide brand">
                                            <a href="#">
                                                <img src="frontend_style/images/brand/client-logo-03.png" alt="logo image">
                                            </a>
                                        </div>

                                        <div class="swiper-slide brand">
                                            <a href="#">
                                                <img src="frontend_style/images/brand/client-logo-04.png" alt="logo image">
                                            </a>
                                        </div>

                                        <div class="swiper-slide brand">
                                            <a href="#">
                                                <img src="frontend_style/images/brand/client-logo-01.png" alt="logo image">
                                            </a>
                                        </div>

                                        <div class="swiper-slide brand">
                                            <a href="#">
                                                <img src="frontend_style/images/brand/client-logo-03.png" alt="logo image">
                                            </a>
                                        </div>

                                        <div class="swiper-slide brand">
                                            <a href="#">
                                                <img src="frontend_style/images/brand/client-logo-03.png" alt="logo image">
                                            </a>
                                        </div>

                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Brand Section End -->

        <!-- Funfact Section Start -->
        <div class="section section-padding-200" data-bg-image="frontend_style/images/bg/funfact-bg.jpg">
            <div class="container" data-aos="fade-up">
                <div class="row row-cols-lg-3 row-cols-sm-2 row-cols-1 mb-n6">
                    <!-- Funfact Start -->
                    <div class="col mb-6">
                        <div class="funfact text-center">
                            <div class="number"><span class="counter">584</span></div>
                            <h6 class="text">Dare to be great</h6>
                        </div>
                    </div>
                    <!-- Funfact End -->

                    <!-- Funfact Start -->
                    <div class="col mb-6">
                        <div class="funfact text-center">
                            <div class="number"><span class="counter">1090</span></div>
                            <h6 class="text">ibero, ultricies</h6>
                        </div>
                    </div>
                    <!-- Funfact End -->

                    <!-- Funfact Start -->
                    <div class="col mb-6">
                        <div class="funfact text-center">
                            <div class="number"><span class="counter">253</span></div>
                            <h6 class="text">Pellentesque dui</h6>
                        </div>
                    </div>
                    <!-- Funfact End -->
                </div>
            </div>
        </div>
        <!-- Funfact Section End -->

        <!-- Skill Section Start -->
        <div class="section section-padding-t180-b180">
            <div class="container">
                <!-- Section Title Two Start -->
                <div class="section-title-two text-center" data-aos="fade-up">
                    <span class="sub-title">OUR SPECIAL SKILLS</span>
                    <h2 class="title">Don't stop till you drop!</h2>
                    <p class="desc m-auto">Suspendisse eu odio consequat, lacinia tellus at, molestie orci. Suspendisse eu eros condimentum, tincidunt lib</p>
                </div>
                <!-- Section Title Two End -->
                <div class="row row-cols-lg-2 row-cols-1 mb-n6">
                    <div class="col mb-6">
                        <div class="fitness-skill mb-n10">
                            <!-- Start Single Progress Charts -->
                            <div class="progress-charts mb-10">
                                <h6 class="title">Immune</h6>
                                <div class="progress">
                                    <div class="progress-bar" data-wow-duration="0.5s" data-wow-delay=".3s" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" data-aos="fade-right"><span class="percent-label">85%</span></div>
                                </div>
                            </div>
                            <!-- End Single Progress Charts -->

                            <!-- Start Single Progress Charts -->
                            <div class="progress-charts mb-10">
                                <h6 class="title">Joints & Bones</h6>
                                <div class="progress">
                                    <div class="progress-bar wow fadeInLeft" data-wow-duration="0.7s" data-wow-delay=".5s" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" data-aos="fade-right" data-aos-delay="300"><span class="percent-label">75%</span></div>
                                </div>
                            </div>
                            <!-- End Single Progress Charts -->
                        </div>
                    </div>
                    <div class="col mb-6">
                        <div class="fitness-skill mb-n10">
                            <!-- Start Single Progress Charts -->
                            <div class="progress-charts mb-10">
                                <h6 class="title">Heart & Energy</h6>
                                <div class="progress">
                                    <div class="progress-bar wow fadeInLeft" data-wow-duration="0.5s" data-wow-delay=".3s" role="progressbar" style="width: 95%" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" data-aos="fade-right" data-aos-delay="600"><span class="percent-label">95%</span></div>
                                </div>
                            </div>
                            <!-- End Single Progress Charts -->

                            <!-- Start Single Progress Charts -->
                            <div class="progress-charts mb-10">
                                <h6 class="title">Skin</h6>
                                <div class="progress">
                                    <div class="progress-bar wow fadeInLeft" data-wow-duration="0.7s" data-wow-delay=".5s" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" data-aos="fade-right" data-aos-delay="900"><span class="percent-label">90%</span></div>
                                </div>
                            </div>
                            <!-- End Single Progress Charts -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Skill Section End -->

        <!-- Coaches Section Start -->
        <div class="section section-padding-t130-b140 section-fluid-240 bg-linear-black">
            <div class="container">

                <!-- Section Title Two Start -->
                <div class="section-title-two text-center color-light" data-aos="fade-up">
                    <span class="sub-title">Our Team</span>
                    <h2 class="title">Meet Our Strongest Team</h2>
                    <p class="desc m-auto">Suspendisse eu odio consequat, lacinia tellus at, molestie orci. Suspendisse eu eros condimentum, tincidunt lib</p>
                </div>
                <!-- Section Title Two End -->

                <div class="row row-cols-lg-3 row-cols-sm-2 row-cols-1 mb-n6">

                    <div class="col mb-6" data-aos="fade-up">
                        <!-- Single Coach Start -->
                        <div class="single-coach">
                            <div class="thumbnial">
                                <a class="image" href="#"><img src="frontend_style/images/team/team-1.jpg" alt=""></a>
                                <div class="inner-block">
                                    <div class="slider-top-right"></div>
                                </div>
                            </div>
                            <div class="content">
                                <h3 class="title">Owen Cannon</h3>
                                <span class="designation">Gym Coacher</span>
                            </div>
                        </div>
                        <!-- Single Coach End -->
                    </div>

                    <div class="col mb-6" data-aos="fade-up" data-aos-delay="300">
                        <!-- Single Coach Start -->
                        <div class="single-coach">
                            <div class="thumbnial">
                                <a class="image" href="#"><img src="frontend_style/images/team/team-2.jpg" alt=""></a>
                                <div class="inner-block">
                                    <div class="slider-top-right"></div>
                                </div>
                            </div>
                            <div class="content">
                                <h3 class="title">Margaret Guzman</h3>
                                <span class="designation">Yoga Coacher</span>
                            </div>
                        </div>
                        <!-- Single Coach End -->
                    </div>

                    <div class="col mb-6" data-aos="fade-up" data-aos-delay="600">
                        <!-- Single Coach Start -->
                        <div class="single-coach">
                            <div class="thumbnial">
                                <a class="image" href="#"><img src="frontend_style/images/team/team-3.jpg" alt=""></a>
                                <div class="inner-block">
                                    <div class="slider-top-right"></div>
                                </div>
                            </div>
                            <div class="content">
                                <h3 class="title">Minnie Sharp</h3>
                                <span class="designation">Dancesport Coacher</span>
                            </div>
                        </div>
                        <!-- Single Coach End -->
                    </div>

                </div>
                <div class="row">
                    <div class="col-12 text-center mt-10" data-aos="fade-up">
                        <a href="#" class="btn btn-outline-secondary btn-hover-primary">VIEW ALL TEAM</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Coaches Section End -->

        <!-- Testimonial Section Start -->
        <div class="section section-padding-130 section-fluid-240">
            <div class="container">
                <!-- Section Title Two Start -->
                <div class="section-title-two text-center" data-aos="fade-up">
                    <h2 class="title">OUR TESTIMONIAL</h2>
                </div>
                <!-- Section Title Two End -->
                <div class="row align-items-center">
                    <div class="col-lg-8 m-auto">
                        <!--Testimonial Slider Start -->
                        <div class="testimonial-slider swiper-container" data-aos="fade-up" data-aos-delay="300">
                            <div class="swiper-wrapper">

                                <div class="swiper-slide">
                                    <div class="testimonial center">
                                        <div class="qute-icon">
                                            <img src="frontend_style/images/icon/qute.svg" alt="qute">
                                        </div>
                                        <div class="testimonial-rating">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <div class="content">
                                            <p>Vestibulum sed lectus massa. Donec egestas, diam sed ultrices hendrerit, est justo gravida eros, a mollis ipsum justo dapibus lacus. Pellentesque dui libero, ultricies</p>
                                        </div>
                                        <div class="author-info">
                                            <div class="image">
                                                <img src="frontend_style/images/testimonial/testimonial-1.png" alt="">
                                            </div>
                                            <div class="cite">
                                                <p class="name">Bobby Hughes</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="swiper-slide">
                                    <div class="testimonial center">
                                        <div class="qute-icon">
                                            <img src="frontend_style/images/icon/qute.svg" alt="qute">
                                        </div>
                                        <div class="testimonial-rating">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <div class="content">
                                            <p>Vestibulum sed lectus massa. Donec egestas, diam sed ultrices hendrerit, est justo gravida eros, a mollis ipsum justo dapibus lacus. Pellentesque dui libero, ultricies</p>
                                        </div>
                                        <div class="author-info">
                                            <div class="image">
                                                <img src="frontend_style/images/testimonial/testimonial-1.png" alt="">
                                            </div>
                                            <div class="cite">
                                                <p class="name">Bobby Hughes</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="swiper-slide">
                                    <div class="testimonial center">
                                        <div class="qute-icon">
                                            <img src="frontend_style/images/icon/qute.svg" alt="qute">
                                        </div>
                                        <div class="testimonial-rating">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <div class="content">
                                            <p>Vestibulum sed lectus massa. Donec egestas, diam sed ultrices hendrerit, est justo gravida eros, a mollis ipsum justo dapibus lacus. Pellentesque dui libero, ultricies</p>
                                        </div>
                                        <div class="author-info">
                                            <div class="image">
                                                <img src="frontend_style/images/testimonial/testimonial-1.png" alt="">
                                            </div>
                                            <div class="cite">
                                                <p class="name">Bobby Hughes</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="swiper-pagination text-center"></div>
                        </div>
                        <!--Testimonial Slider End -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Testimonial Section End -->

        <div class="footer-section section section-fluid-240" data-bg-color="#1C1C1C">
            <div class="container">

                <!-- Footer Top Widgets Start -->
                <div class="row mb-lg-14 mb-md-10 mb-6 align-items-center">

                    <!-- Footer Widget Start -->
                    <div class="col-lg-3 col-md-5 col-sm-12 col-12 col-12 mb-6">
                        <div class="footer-widget">
                            <div class="footer-logo">
                                <a href="index.html"><img src="frontend_style/images/logo/footer-logo.png" alt="Logo"></a>
                            </div>
                            <div class="footer-widget-content">
                                <div class="footer-social-inline">
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-linkedin"></i></a>
                                    <a href="#"><i class="fab fa-vimeo-v"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Footer Widget End -->

                    <!-- Footer Widget Start -->
                    <div class="offset-lg-1 col-lg-5 col-md-7 col-sm-12 col-12 mb-6">
                        <div class="footer-widget">
                            <div class="footer-widget-content">
                                <ul class="column-2">
                                  
                                    <li><a href="#">About us</a></li>
                                    <li><a href="#">Contact us</a></li>
                                
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Footer Widget End -->

                    <!-- Footer Widget Start -->
                    <div class="col-lg-3 col-md-6 col-sm-12 col-12 mb-6">
                        <div class="footer-widget">
                            <div class="footer-widget-content">
                                <div class="ft-instagram-list">

                                    <div class="instagram-grid-wrap">

                                        <!-- Start Single Instagram -->
                                        <div class="item-grid grid-style--1">
                                            <div class="thumb">
                                                <a href="#">
                                                    <img src="frontend_style/images/instagram/instagram1.png" alt="instagram images">
                                                </a>
                                                <div class="item-info">
                                                    <div class="inner">
                                                        <a href="#"><i class="fas fa-heart"></i>1k</a>
                                                        <a href="#"><i class="fas fa-comment-dots"></i>9</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Start Single Instagram -->

                                        <!-- Start Single Instagram -->
                                        <div class="item-grid grid-style--1">
                                            <div class="thumb">
                                                <a href="#">
                                                    <img src="frontend_style/images/instagram/instagram2.png" alt="instagram images">
                                                </a>
                                                <div class="item-info">
                                                    <div class="inner">
                                                        <a href="#"><i class="fas fa-heart"></i>1k</a>
                                                        <a href="#"><i class="fas fa-comment-dots"></i>9</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Start Single Instagram -->

                                        <!-- Start Single Instagram -->
                                        <div class="item-grid grid-style--1">
                                            <div class="thumb">
                                                <a href="#">
                                                    <img src="frontend_style/images/instagram/instagram3.png" alt="instagram images">
                                                </a>
                                                <div class="item-info">
                                                    <div class="inner">
                                                        <a href="#"><i class="fas fa-heart"></i>1k</a>
                                                        <a href="#"><i class="fas fa-comment-dots"></i>9</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Start Single Instagram -->

                                        <!-- Start Single Instagram -->
                                        <div class="item-grid grid-style--1">
                                            <div class="thumb">
                                                <a href="#">
                                                    <img src="frontend_style/images/instagram/instagram4.png" alt="instagram images">
                                                </a>
                                                <div class="item-info">
                                                    <div class="inner">
                                                        <a href="#"><i class="fas fa-heart"></i>1k</a>
                                                        <a href="#"><i class="fas fa-comment-dots"></i>9</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Start Single Instagram -->

                                        <!-- Start Single Instagram -->
                                        <div class="item-grid grid-style--1">
                                            <div class="thumb">
                                                <a href="#">
                                                    <img src="frontend_style/images/instagram/instagram5.png" alt="instagram images">
                                                </a>
                                                <div class="item-info">
                                                    <div class="inner">
                                                        <a href="#"><i class="fas fa-heart"></i>1k</a>
                                                        <a href="#"><i class="fas fa-comment-dots"></i>9</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Start Single Instagram -->

                                        <!-- Start Single Instagram -->
                                        <div class="item-grid grid-style--1">
                                            <div class="thumb">
                                                <a href="#">
                                                    <img src="frontend_style/images/instagram/instagram6.png" alt="instagram images">
                                                </a>
                                                <div class="item-info">
                                                    <div class="inner">
                                                        <a href="#"><i class="fas fa-heart"></i>1k</a>
                                                        <a href="#"><i class="fas fa-comment-dots"></i>9</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Start Single Instagram -->

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Footer Widget End -->

                </div>
                <!-- Footer Top Widgets End -->

                <!-- Footer Copyright Start -->
                <div class="row">
                    <div class="col">
                        <p class="copyright">Copyright &copy; 2021 All Rights Reserved | Made with <i class="fal fa-heart"></i> by <a href="https://hasthemes.com/">HasThemes</a>. </p>
                    </div>
                </div>
                <!-- Footer Copyright End -->

            </div>
        </div>

        <!-- Scroll Top Start -->
        <a href="#" class="scroll-top" id="scroll-top">
            <i class="arrow-top fal fa-long-arrow-up"></i>
            <i class="arrow-bottom fal fa-long-arrow-up"></i>
        </a>
        <!-- Scroll Top End -->

    </div>
    <div id="site-main-mobile-menu" class="site-main-mobile-menu">
        <div class="site-main-mobile-menu-inner">
            <div class="mobile-menu-header">
                <div class="mobile-menu-logo">
                    <a href="index.html"><img src="frontend_style/images/logo/logo.png" alt=""></a>
                </div>
                <div class="mobile-menu-close">
                    <button class="toggle">
                        <i class="icon-top"></i>
                        <i class="icon-bottom"></i>
                    </button>
                </div>
            </div>
            <div class="mobile-menu-content">
                <nav class="site-mobile-menu">
                    <ul>
                        <li>
                            <a href="index.html"><span class="menu-text">Home</span></a>
                        </li>
                        <li class="has-children">
                            <a href="about.html"><span class="menu-text">Pages</span></a>
                            <span class="menu-toggle"><i class="far fa-angle-down"></i></span>
                            <ul class="sub-menu">
                                <li><a href="about.html"><span class="menu-text">About</span></a></li>
                                <li><a href="team.html"><span class="menu-text">Our Team</span></a></li>
                                <li><a href="contact.html"><span class="menu-text">Contact</span></a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="our-program.html"><span class="menu-text">Our Program</span></a>
                        </li>
                        <li class="has-children">
                            <a href="shop.html"><span class="menu-text">Shop</span></a>
                            <span class="menu-toggle"><i class="far fa-angle-down"></i></span>
                            <ul class="sub-menu">
                                <li><a href="shop.html"><span class="menu-text">Shop</span></a></li>
                                <li><a href="product-details.html"><span class="menu-text">Product Details</span></a></li>
                                <li><a href="shopping-cart.html"><span class="menu-text">Shopping Cart</span></a></li>
                                <li><a href="wishlist.html"><span class="menu-text">Wishlist</span></a></li>
                                <li><a href="checkout.html"><span class="menu-text">Checkout</span></a></li>
                            </ul>
                        </li>
                        <li class="has-children">
                            <a href="blog-grid.html"><span class="menu-text">Blog</span></a>
                            <span class="menu-toggle"><i class="far fa-angle-down"></i></span>
                            <ul class="sub-menu">
                                <li><a href="blog-grid.html"><span class="menu-text">Blog Grid</span></a></li>
                                <li><a href="blog-details.html"><span class="menu-text">Blog Details</span></a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="event.html"><span class="menu-text">Event</span></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <!-- JS
    ============================================ -->

    <!-- Vendors JS -->
    <script src="{{url('frontend_style/js/vendor/modernizr-3.11.2.min.js')}}"></script>
    <script src="{{url('frontend_style/js/vendor/jquery-3.5.1.min.js')}}"></script>
    <script src="{{url('frontend_style/js/vendor/jquery-migrate-3.3.0.min.js')}}"></script>
    <script src="{{url('frontend_style/js/vendor/bootstrap.bundle.min.js')}}"></script>

    <!-- Plugins JS -->
    <script src="{{url('frontend_style/js/plugins/aos.min.js')}}"></script>
    <script src="{{url('frontend_style/js/plugins/jquery.ajaxchimp.min.js')}}"></script>
    <script src="{{url('frontend_style/js/plugins/jquery.counterup.min.js')}}"></script>
    <script src="{{url('frontend_style/js/plugins/jquery.magnific-popup.min.js')}}"></script>
    <script src="{{url('frontend_style/js/plugins/vivus.min.js')}}"></script>
    <script src="{{url('frontend_style/js/plugins/svg-inject.min.js')}}"></script>
    <script src="{{url('frontend_style/js/plugins/swiper.min.js')}}"></script>
    <script src="{{url('frontend_style/js/plugins/waypoints.min.js')}}"></script>

    <!-- Use the minified version files listed below for better performance and remove the files listed above -->
    <!-- <script src="frontend_style/js/vendor/vendor.min.js"></script>
    <script src="frontend_style/js/plugins/plugins.min.js"></script> -->

    <!-- Main Activation JS -->
    <script src="{{url('frontend_style/js/main.js')}}"></script>




</body>

</html>