<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Gymate - Gym Fitness Bootstrap 5 Template</title>
    <meta name="robots" content="index, follow" />
    <meta name="description" content="Try out Gymate Gym Fitness Bootstrap 5 Template today because this awesome fitness related website template comes completely free of any cost.">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="frontend_style/images/favicon.png">

    <!-- CSS
	============================================ -->

    <!-- Vendor CSS (Bootstrap & Icon Font) -->
    <link rel="stylesheet" href="{{url('frontend_style/css/vendor/font-awesome-pro.min.css')}}">
    <link rel="stylesheet" href="{{url('frontend_style/css/vendor/pe-icon-7-stroke.css')}}">

    <!-- Plugins CSS (All Plugins Files) -->
    <link rel="stylesheet" href="{{url('frontend_style/css/plugins/swiper.min.css')}}">
    <link rel="stylesheet" href="{{url('frontend_style/css/plugins/animate.css')}}">
    <link rel="stylesheet" href="{{url('frontend_style/css/plugins/aos.min.css')}}">
    <link rel="stylesheet" href="{{url('frontend_style/css/plugins/magnific-popup.css')}}">

    <!-- Main Style CSS -->
    <link rel="stylesheet" href="{{url('frontend_style/css/style.css')}}">

    <!-- Use the minified version files listed below for better performance and remove the files listed above -->
    <!-- <link rel="stylesheet" href="frontend_style/css/vendor/vendor.min.css">
    <link rel="stylesheet" href="frontend_style/css/plugins/plugins.min.css">
    <link rel="stylesheet" href="frontend_style/css/style.min.css"> -->

</head>

<body>
    <div id="page" class="section">
        <!-- Header Section Start -->
        <div class="header-section header-transparent sticky-header header-fluid section">
            <div class="header-inner">
                <div class="container position-relative">
                    <div class="row justify-content-between align-items-center">

                        <!-- Header Logo Start -->
                        <div class="col-xl-2 col-auto">
                            <div class="header-logo">
                                <a href="index.html">
                                    <img class="dark-logo" src="frontend_style/images/logo/logo.png" alt="Fitness Logo">
                                    <img class="light-logo" src="frontend_style/images/logo/logo.png" alt="Fitness Logo">
                                </a>
                            </div>
                        </div>
                        <!-- Header Logo End -->

                        <!-- Header Main Menu Start -->
                        <div class="col d-none d-xl-block">
                            <div class="menu-column-area d-none d-xl-block position-static">
                                <nav class="site-main-menu">
                                    <ul>
                                        <li>
                                            <a href="index.html"><span class="menu-text">Home</span></a>
                                        </li>
                                        <li class="has-children">
                                            <a href="about.html"><span class="menu-text">Pages</span></a>
                                            <span class="menu-toggle"><i class="far fa-angle-down"></i></span>
                                            <ul class="sub-menu">
                                                <li><a href="about.html"><span class="menu-text">About</span></a></li>
                                                <li><a href="team.html"><span class="menu-text">Our Team</span></a></li>
                                                <li><a href="contact.html"><span class="menu-text">Contact</span></a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="our-program.html"><span class="menu-text">Our Program</span></a>
                                        </li>
                                        <li class="has-children">
                                            <a href="shop.html"><span class="menu-text">Shop</span></a>
                                            <span class="menu-toggle"><i class="far fa-angle-down"></i></span>
                                            <ul class="sub-menu">
                                                <li><a href="shop.html"><span class="menu-text">Shop</span></a></li>
                                                <li><a href="product-details.html"><span class="menu-text">Product Details</span></a></li>
                                                <li><a href="shopping-cart.html"><span class="menu-text">Shopping Cart</span></a></li>
                                                <li><a href="wishlist.html"><span class="menu-text">Wishlist</span></a></li>
                                                <li><a href="checkout.html"><span class="menu-text">Checkout</span></a></li>
                                            </ul>
                                        </li>
                                        <li class="has-children">
                                            <a href="blog-grid.html"><span class="menu-text">Blog</span></a>
                                            <span class="menu-toggle"><i class="far fa-angle-down"></i></span>
                                            <ul class="sub-menu">
                                                <li><a href="blog-grid.html"><span class="menu-text">Blog Grid</span></a></li>
                                                <li><a href="blog-details.html"><span class="menu-text">Blog Details</span></a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="event.html"><span class="menu-text">Event</span></a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <!-- Header Main Menu End -->

                        <!-- Header Right Start -->
                        <div class="col-xl-2 col-auto d-flex align-items-center justify-content-end">
                            <!-- Header Search Start -->
                            <div class="header-search-area mr-xl-4 mr-0">

                                <!-- Header Login Start -->
                                <div class="header-search">
                                    <a href="javascript:void(0)" class="header-search-toggle"><i class="pe-7s-search pe-2x pe-va"></i></a>
                                </div>
                                <!-- Header Login End -->
                            </div>
                            <!-- Header Search End -->

                            <!-- Header Cart Start -->
                            <div class="header-cart">

                                <a class="header-cart-btn" href="shopping-cart.html"><span class="cart-count">2</span><i class="far fa-shopping-cart"></i></a>

                                <!-- Header Mini Cart Start -->
                                <div class="header-mini-cart">
                                    <div class="inner">

                                        <!-- Header Mini Cart Product Start -->
                                        <div class="mini-cart-products">
                                            <div class="mini-cart-product">
                                                <a href="#" class="thumb"><img src="frontend_style/images/shop/shopping-cart/product-1.jpg" alt=""></a>
                                                <div class="content">
                                                    <a href="#" class="title">Online Student: Strategies for Effective Learning</a>
                                                    <span class="quantity">1 x <span class="price">$67.00</span></span>
                                                </div>
                                                <a href="#" class="remove"><i class="far fa-times"></i></a>
                                            </div>
                                            <div class="mini-cart-product">
                                                <a href="#" class="thumb"><img src="frontend_style/images/shop/shopping-cart/product-2.jpg" alt=""></a>
                                                <div class="content">
                                                    <a href="#" class="title">Principles of Business Administration</a>
                                                    <span class="quantity">1 x <span class="price">$52.00</span></span>
                                                </div>
                                                <a href="#" class="remove"><i class="far fa-times"></i></a>
                                            </div>
                                        </div>
                                        <!-- Header Mini Cart Product End -->

                                        <!-- Header Mini Cart Footer Start -->
                                        <div class="mini-cart-footer">
                                            <div class="mini-cart-total">
                                                <b>Total:</b>
                                                <span class="amount">$119.00</span>
                                            </div>
                                            <div class="mini-cart-buttons">
                                                <a href="shopping-cart.html" class="btn btn-primary btn-hover-secondary">View Cart</a>
                                                <a href="checkout.html" class="btn btn-primary btn-hover-secondary">Checkout</a>
                                            </div>
                                        </div>
                                        <!-- Header Mini Cart Footer End -->
                                    </div>
                                </div>
                                <!-- Header Mini Cart End -->
                            </div>
                            <!-- Header Cart End -->

                            <!-- Header Mobile Menu Toggle Start -->
                            <div class="header-mobile-menu-toggle d-xl-none ml-sm-2">
                                <button class="toggle">
                                    <i class="icon-top"></i>
                                    <i class="icon-middle"></i>
                                    <i class="icon-bottom"></i>
                                </button>
                            </div>
                            <!-- Header Mobile Menu Toggle End -->
                        </div>
                        <!-- Header Right End -->

                    </div>
                </div>
            </div>
        </div>
        <!-- Header Section End -->

        <!-- Main Search Start -->
        <div class="main-search-active">
            <div class="sidebar-search-icon">
                <button class="search-close"><i class="fal fa-times"></i></button>
            </div>
            <div class="sidebar-search-input">
                <form action="#">
                    <div class="form-search">
                        <input id="search" class="input-text" value="" placeholder="" type="search">
                        <button>
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </form>
                <p class="form-description">Hit enter to search or ESC to close</p>
            </div>
        </div>
        <!-- Main Search End -->

        <!-- Page Title Section Start -->
        <div class="page-title-section section" data-bg-image="frontend_style/images/bg/breadcrumb-program.jpg">
            <div class="page-title pt-lg-10 pt-10">
                <div class="container">
                    <h1 class="title">WORKING HOURS AND CLASSES</h1>
                </div>
            </div>
        </div>
        <!-- Page Title Section End -->

        <!-- Program Section Start -->
        <div class="section section-padding-t100-b200 section-fluid">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="program-tab" data-aos="fade-up">
                            <ul class="nav justify-content-center">
                                <li>
                                    <a class="active" data-toggle="tab" href="#all">ALL EVENTS</a>
                                </li>
                                <li>
                                    <a data-toggle="tab" href="#cardio">CARDIO</a>
                                </li>
                                <li>
                                    <a data-toggle="tab" href="#crossfit">CROSSFIT</a>
                                </li>
                                <li>
                                    <a data-toggle="tab" href="#gym">GYM</a>
                                </li>
                                <li>
                                    <a data-toggle="tab" href="#powerlifting">POWERLIFTING</a>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-content" data-aos="fade-up" data-aos-delay="300">
                            <div class="tab-pane fade show active" id="all">
                                <div class="all-program-routine table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr class="heading-row">
                                                <th></th>
                                                <th>Monday</th>
                                                <th>Tuesday</th>
                                                <th>Wednesday</th>
                                                <th>Thursday</th>
                                                <th>Friday</th>
                                                <th>Saturday</th>
                                                <th>Sunday</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="row-one">
                                                <td class="tt-hours-column">6:00 - 07:00</td>
                                                <td class="tt-single-event" rowspan="2">
                                                    <a class="event-header" href="#">Open Gym</a>
                                                </td>
                                                <td class="tt-single-event" rowspan="2">
                                                    <a class="event-header" href="#">BODY CLASS</a>
                                                    <div class="before-hour-text">Don Ortega</div>
                                                </td>
                                                <td class="tt-single-event" rowspan="2">
                                                    <a class="event-header" href="#">YOGA CLASS</a>
                                                    <div class="before-hour-text">Fanny Davis</div>
                                                </td>
                                                <td class="tt-single-event active" rowspan="2">
                                                    <a class="event-header" href="#">OPEN GYM</a>
                                                    <div class="before-hour-text">Don Ortega</div>
                                                    <span class="table-badge">GYM</span>
                                                </td>
                                                <td class="tt-single-event" rowspan="2">
                                                    <a class="event-header" href="#">POWER LIFTING</a>
                                                    <div class="before-hour-text">Harold Kim</div>
                                                </td>
                                                <td class="tt-single-event" rowspan="2">
                                                    <a class="event-header" href="#">CARDIO BURN</a>
                                                </td>
                                                <td class="tt-single-event" rowspan="2">
                                                    <a class="event-header" href="#">YOGA CLASS</a>
                                                    <div class="before-hour-text">Fanny Davis</div>
                                                </td>
                                            </tr>
                                            <tr class="row-two">
                                                <td class="tt-hours-column">07:00 - 08:00</td>
                                            </tr>
                                            <tr class="row-three">
                                                <td class="tt-hours-column">08:00 - 09:00</td>
                                                <td class="tt-single-event" rowspan="2">

                                                </td>
                                                <td class="tt-single-event" rowspan="2">
                                                    <a class="event-header" href="#">OPEN GYM</a>
                                                    <div class="before-hour-text">Don Ortega</div>
                                                </td>
                                                <td class="tt-single-event" rowspan="2">
                                                    <a class="event-header" href="#">POWER LIFTING</a>
                                                    <div class="before-hour-text">Harold Kim</div>
                                                </td>
                                                <td class="tt-single-event" rowspan="2">

                                                </td>
                                                <td class="tt-single-event" rowspan="2">

                                                </td>
                                                <td class="tt-single-event" rowspan="2">
                                                    <a class="event-header" href="#">YOGA CLASS</a>
                                                    <div class="before-hour-text">Fanny Davis</div>
                                                </td>
                                                <td class="tt-single-event" rowspan="2">

                                                </td>
                                            </tr>
                                            <tr class="row-four">
                                                <td class="tt-hours-column">10:00 - 11:00</td>
                                            </tr>
                                            <tr class="row-five">
                                                <td class="tt-hours-column">11:00 - 12:00</td>
                                                <td class="tt-single-event">
                                                    <a class="event-header" href="#">POWER LIFTING</a>
                                                    <div class="before-hour-text">Harold Kim</div>
                                                </td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr class="row-six">
                                                <td class="tt-hours-column">11:00 - 12:00</td>
                                                <td class="tt-single-event" rowspan="2">

                                                </td>
                                                <td class="tt-single-event" rowspan="2">
                                                    <a class="event-header" href="#">OPEN GYM</a>
                                                    <div class="before-hour-text">Don Ortega</div>
                                                </td>
                                                <td class="tt-single-event" rowspan="2">
                                                    <a class="event-header" href="#">POWER LIFTING</a>
                                                    <div class="before-hour-text">Harold Kim</div>
                                                </td>
                                                <td class="tt-single-event" rowspan="2">
                                                    <a class="event-header" href="#">OPEN GYM</a>
                                                </td>
                                                <td class="tt-single-event" rowspan="5">
                                                    <a class="event-header" href="#">POWER LIFTING</a>
                                                    <div class="before-hour-text">Harold Kim</div>
                                                    <br>
                                                    <br>
                                                    <a class="event-header" href="#">CROSSFIT CLASS</a>
                                                    <div class="before-hour-text">Harold Kim</div>

                                                </td>
                                                <td class="tt-single-event" rowspan="2">

                                                </td>
                                                <td class="tt-single-event" rowspan="2">
                                                    <a class="event-header" href="#">YOGA CLASS</a>
                                                    <div class="before-hour-text">Fanny Davis</div>
                                                </td>
                                            </tr>
                                            <tr class="row-seven">
                                                <td class="tt-hours-column">12:00 - 13:00</td>
                                            </tr>
                                            <tr class="row-eight">
                                                <td class="tt-hours-column">13:00 - 14:00</td>
                                                <td class="tt-single-event" rowspan="3">
                                                    <a class="event-header" href="#">BODY CLASS</a>
                                                    <div class="before-hour-text">Don Ortega</div>
                                                </td>
                                                <td class="tt-single-event" rowspan="2">
                                                    <a class="event-header" href="#">BODY CLASS</a>
                                                    <div class="before-hour-text">Don Ortega</div>
                                                </td>
                                                <td class="tt-single-event" rowspan="2">
                                                </td>
                                                <td class="tt-single-event" rowspan="2">
                                                    <a class="event-header" href="#">CARDIO BURN</a>
                                                    <div class="before-hour-text">Madison Fren</div>
                                                </td>
                                                <td class="tt-single-event" rowspan="2">
                                                    <a class="event-header" href="#">POWER LIFTING</a>
                                                    <div class="before-hour-text">Fanny Davis</div>
                                                </td>
                                                <td class="tt-single-event" rowspan="2">

                                                </td>
                                            </tr>
                                            <tr class="row-nine">
                                                <td class="tt-hours-column">15:00 - 16:00</td>
                                            </tr>
                                            <tr class="row-ten">
                                                <td class="tt-hours-column">16:00 - 17:00</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr class="row-eleven">
                                                <td class="tt-hours-column">06.00 - 07.00</td>
                                                <td class="tt-single-event" rowspan="2">
                                                </td>
                                                <td class="tt-single-event" rowspan="2">

                                                </td>
                                                <td class="tt-single-event" rowspan="2">
                                                    <a class="event-header" href="#">YOGA CLASS</a>
                                                    <div class="before-hour-text">Fanny Davis</div>
                                                </td>
                                                <td class="tt-single-event" rowspan="2">
                                                </td>
                                                <td class="tt-single-event" rowspan="2">
                                                </td>
                                                <td class="tt-single-event" rowspan="2">
                                                    <a class="event-header" href="#">CARDIO BURN</a>
                                                </td>
                                                <td class="tt-single-event" rowspan="2">
                                                    <a class="event-header" href="#">OPEN GYM</a>
                                                </td>
                                            </tr>
                                            <tr class="row-twelve">
                                                <td class="tt-hours-column">17:00 - 18:00</td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="cardio">
                                <div class="all-program-routine table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr class="heading-row">
                                                <th></th>
                                                <th>Monday</th>
                                                <th>Tuesday</th>
                                                <th>Wednesday</th>
                                                <th>Thursday</th>
                                                <th>Friday</th>
                                                <th>Saturday</th>
                                                <th>Sunday</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="row-one">
                                                <td class="tt-hours-column">6:00 - 07:00</td>
                                                <td class="tt-single-event" rowspan="2">
                                                    <a class="event-header" href="#">Open Gym</a>
                                                </td>
                                                <td class="tt-single-event" rowspan="2">
                                                    <a class="event-header" href="#">BODY CLASS</a>
                                                    <div class="before-hour-text">Don Ortega</div>
                                                </td>
                                                <td class="tt-single-event" rowspan="2">
                                                    <a class="event-header" href="#">YOGA CLASS</a>
                                                    <div class="before-hour-text">Fanny Davis</div>
                                                </td>
                                                <td class="tt-single-event active" rowspan="2">
                                                    <a class="event-header" href="#">OPEN GYM</a>
                                                    <div class="before-hour-text">Don Ortega</div>
                                                    <span class="table-badge">GYM</span>
                                                </td>
                                                <td class="tt-single-event" rowspan="2">
                                                    <a class="event-header" href="#">POWER LIFTING</a>
                                                    <div class="before-hour-text">Harold Kim</div>
                                                </td>
                                                <td class="tt-single-event" rowspan="2">
                                                    <a class="event-header" href="#">CARDIO BURN</a>
                                                </td>
                                                <td class="tt-single-event" rowspan="2">
                                                    <a class="event-header" href="#">YOGA CLASS</a>
                                                    <div class="before-hour-text">Fanny Davis</div>
                                                </td>
                                            </tr>
                                            <tr class="row-two">
                                                <td class="tt-hours-column">07:00 - 08:00</td>
                                            </tr>
                                            <tr class="row-three">
                                                <td class="tt-hours-column">08:00 - 09:00</td>
                                                <td class="tt-single-event" rowspan="2">

                                                </td>
                                                <td class="tt-single-event" rowspan="2">
                                                    <a class="event-header" href="#">OPEN GYM</a>
                                                    <div class="before-hour-text">Don Ortega</div>
                                                </td>
                                                <td class="tt-single-event" rowspan="2">
                                                    <a class="event-header" href="#">POWER LIFTING</a>
                                                    <div class="before-hour-text">Harold Kim</div>
                                                </td>
                                                <td class="tt-single-event" rowspan="2">

                                                </td>
                                                <td class="tt-single-event" rowspan="2">

                                                </td>
                                                <td class="tt-single-event" rowspan="2">
                                                    <a class="event-header" href="#">YOGA CLASS</a>
                                                    <div class="before-hour-text">Fanny Davis</div>
                                                </td>
                                                <td class="tt-single-event" rowspan="2">

                                                </td>
                                            </tr>
                                            <tr class="row-four">
                                                <td class="tt-hours-column">10:00 - 11:00</td>
                                            </tr>
                                            <tr class="row-five">
                                                <td class="tt-hours-column">11:00 - 12:00</td>
                                                <td class="tt-single-event">
                                                    <a class="event-header" href="#">POWER LIFTING</a>
                                                    <div class="before-hour-text">Harold Kim</div>
                                                </td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr class="row-six">
                                                <td class="tt-hours-column">11:00 - 12:00</td>
                                                <td class="tt-single-event" rowspan="2">

                                                </td>
                                                <td class="tt-single-event" rowspan="2">
                                                    <a class="event-header" href="#">OPEN GYM</a>
                                                    <div class="before-hour-text">Don Ortega</div>
                                                </td>
                                                <td class="tt-single-event" rowspan="2">
                                                    <a class="event-header" href="#">POWER LIFTING</a>
                                                    <div class="before-hour-text">Harold Kim</div>
                                                </td>
                                                <td class="tt-single-event" rowspan="2">
                                                    <a class="event-header" href="#">OPEN GYM</a>
                                                </td>
                                                <td class="tt-single-event" rowspan="5">
                                                    <a class="event-header" href="#">POWER LIFTING</a>
                                                    <div class="before-hour-text">Harold Kim</div>
                                                    <br>
                                                    <br>
                                                    <a class="event-header" href="#">CROSSFIT CLASS</a>
                                                    <div class="before-hour-text">Harold Kim</div>

                                                </td>
                                                <td class="tt-single-event" rowspan="2">

                                                </td>
                                                <td class="tt-single-event" rowspan="2">
                                                    <a class="event-header" href="#">YOGA CLASS</a>
                                                    <div class="before-hour-text">Fanny Davis</div>
                                                </td>
                                            </tr>
                                            <tr class="row-seven">
                                                <td class="tt-hours-column">12:00 - 13:00</td>
                                            </tr>
                                            <tr class="row-eight">
                                                <td class="tt-hours-column">13:00 - 14:00</td>
                                                <td class="tt-single-event" rowspan="3">
                                                    <a class="event-header" href="#">BODY CLASS</a>
                                                    <div class="before-hour-text">Don Ortega</div>
                                                </td>
                                                <td class="tt-single-event" rowspan="2">
                                                    <a class="event-header" href="#">BODY CLASS</a>
                                                    <div class="before-hour-text">Don Ortega</div>
                                                </td>
                                                <td class="tt-single-event" rowspan="2">
                                                </td>
                                                <td class="tt-single-event" rowspan="2">
                                                    <a class="event-header" href="#">CARDIO BURN</a>
                                                    <div class="before-hour-text">Madison Fren</div>
                                                </td>
                                                <td class="tt-single-event" rowspan="2">
                                                    <a class="event-header" href="#">POWER LIFTING</a>
                                                    <div class="before-hour-text">Fanny Davis</div>
                                                </td>
                                                <td class="tt-single-event" rowspan="2">

                                                </td>
                                            </tr>
                                            <tr class="row-nine">
                                                <td class="tt-hours-column">15:00 - 16:00</td>
                                            </tr>
                                            <tr class="row-ten">
                                                <td class="tt-hours-column">16:00 - 17:00</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr class="row-eleven">
                                                <td class="tt-hours-column">06.00 - 07.00</td>
                                                <td class="tt-single-event" rowspan="2">
                                                </td>
                                                <td class="tt-single-event" rowspan="2">

                                                </td>
                                                <td class="tt-single-event" rowspan="2">
                                                    <a class="event-header" href="#">YOGA CLASS</a>
                                                    <div class="before-hour-text">Fanny Davis</div>
                                                </td>
                                                <td class="tt-single-event" rowspan="2">
                                                </td>
                                                <td class="tt-single-event" rowspan="2">
                                                </td>
                                                <td class="tt-single-event" rowspan="2">
                                                    <a class="event-header" href="#">CARDIO BURN</a>
                                                </td>
                                                <td class="tt-single-event" rowspan="2">
                                                    <a class="event-header" href="#">OPEN GYM</a>
                                                </td>
                                            </tr>
                                            <tr class="row-twelve">
                                                <td class="tt-hours-column">17:00 - 18:00</td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="crossfit">
                                <div class="all-program-routine table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr class="heading-row">
                                                <th></th>
                                                <th>Monday</th>
                                                <th>Tuesday</th>
                                                <th>Wednesday</th>
                                                <th>Thursday</th>
                                                <th>Friday</th>
                                                <th>Saturday</th>
                                                <th>Sunday</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="row-one">
                                                <td class="tt-hours-column">6:00 - 07:00</td>
                                                <td class="tt-single-event" rowspan="2">
                                                    <a class="event-header" href="#">Open Gym</a>
                                                </td>
                                                <td class="tt-single-event" rowspan="2">
                                                    <a class="event-header" href="#">BODY CLASS</a>
                                                    <div class="before-hour-text">Don Ortega</div>
                                                </td>
                                                <td class="tt-single-event" rowspan="2">
                                                    <a class="event-header" href="#">YOGA CLASS</a>
                                                    <div class="before-hour-text">Fanny Davis</div>
                                                </td>
                                                <td class="tt-single-event active" rowspan="2">
                                                    <a class="event-header" href="#">OPEN GYM</a>
                                                    <div class="before-hour-text">Don Ortega</div>
                                                    <span class="table-badge">GYM</span>
                                                </td>
                                                <td class="tt-single-event" rowspan="2">
                                                    <a class="event-header" href="#">POWER LIFTING</a>
                                                    <div class="before-hour-text">Harold Kim</div>
                                                </td>
                                                <td class="tt-single-event" rowspan="2">
                                                    <a class="event-header" href="#">CARDIO BURN</a>
                                                </td>
                                                <td class="tt-single-event" rowspan="2">
                                                    <a class="event-header" href="#">YOGA CLASS</a>
                                                    <div class="before-hour-text">Fanny Davis</div>
                                                </td>
                                            </tr>
                                            <tr class="row-two">
                                                <td class="tt-hours-column">07:00 - 08:00</td>
                                            </tr>
                                            <tr class="row-three">
                                                <td class="tt-hours-column">08:00 - 09:00</td>
                                                <td class="tt-single-event" rowspan="2">

                                                </td>
                                                <td class="tt-single-event" rowspan="2">
                                                    <a class="event-header" href="#">OPEN GYM</a>
                                                    <div class="before-hour-text">Don Ortega</div>
                                                </td>
                                                <td class="tt-single-event" rowspan="2">
                                                    <a class="event-header" href="#">POWER LIFTING</a>
                                                    <div class="before-hour-text">Harold Kim</div>
                                                </td>
                                                <td class="tt-single-event" rowspan="2">

                                                </td>
                                                <td class="tt-single-event" rowspan="2">

                                                </td>
                                                <td class="tt-single-event" rowspan="2">
                                                    <a class="event-header" href="#">YOGA CLASS</a>
                                                    <div class="before-hour-text">Fanny Davis</div>
                                                </td>
                                                <td class="tt-single-event" rowspan="2">

                                                </td>
                                            </tr>
                                            <tr class="row-four">
                                                <td class="tt-hours-column">10:00 - 11:00</td>
                                            </tr>
                                            <tr class="row-five">
                                                <td class="tt-hours-column">11:00 - 12:00</td>
                                                <td class="tt-single-event">
                                                    <a class="event-header" href="#">POWER LIFTING</a>
                                                    <div class="before-hour-text">Harold Kim</div>
                                                </td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr class="row-six">
                                                <td class="tt-hours-column">11:00 - 12:00</td>
                                                <td class="tt-single-event" rowspan="2">

                                                </td>
                                                <td class="tt-single-event" rowspan="2">
                                                    <a class="event-header" href="#">OPEN GYM</a>
                                                    <div class="before-hour-text">Don Ortega</div>
                                                </td>
                                                <td class="tt-single-event" rowspan="2">
                                                    <a class="event-header" href="#">POWER LIFTING</a>
                                                    <div class="before-hour-text">Harold Kim</div>
                                                </td>
                                                <td class="tt-single-event" rowspan="2">
                                                    <a class="event-header" href="#">OPEN GYM</a>
                                                </td>
                                                <td class="tt-single-event" rowspan="5">
                                                    <a class="event-header" href="#">POWER LIFTING</a>
                                                    <div class="before-hour-text">Harold Kim</div>
                                                    <br>
                                                    <br>
                                                    <a class="event-header" href="#">CROSSFIT CLASS</a>
                                                    <div class="before-hour-text">Harold Kim</div>

                                                </td>
                                                <td class="tt-single-event" rowspan="2">

                                                </td>
                                                <td class="tt-single-event" rowspan="2">
                                                    <a class="event-header" href="#">YOGA CLASS</a>
                                                    <div class="before-hour-text">Fanny Davis</div>
                                                </td>
                                            </tr>
                                            <tr class="row-seven">
                                                <td class="tt-hours-column">12:00 - 13:00</td>
                                            </tr>
                                            <tr class="row-eight">
                                                <td class="tt-hours-column">13:00 - 14:00</td>
                                                <td class="tt-single-event" rowspan="3">
                                                    <a class="event-header" href="#">BODY CLASS</a>
                                                    <div class="before-hour-text">Don Ortega</div>
                                                </td>
                                                <td class="tt-single-event" rowspan="2">
                                                    <a class="event-header" href="#">BODY CLASS</a>
                                                    <div class="before-hour-text">Don Ortega</div>
                                                </td>
                                                <td class="tt-single-event" rowspan="2">
                                                </td>
                                                <td class="tt-single-event" rowspan="2">
                                                    <a class="event-header" href="#">CARDIO BURN</a>
                                                    <div class="before-hour-text">Madison Fren</div>
                                                </td>
                                                <td class="tt-single-event" rowspan="2">
                                                    <a class="event-header" href="#">POWER LIFTING</a>
                                                    <div class="before-hour-text">Fanny Davis</div>
                                                </td>
                                                <td class="tt-single-event" rowspan="2">

                                                </td>
                                            </tr>
                                            <tr class="row-nine">
                                                <td class="tt-hours-column">15:00 - 16:00</td>
                                            </tr>
                                            <tr class="row-ten">
                                                <td class="tt-hours-column">16:00 - 17:00</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr class="row-eleven">
                                                <td class="tt-hours-column">06.00 - 07.00</td>
                                                <td class="tt-single-event" rowspan="2">
                                                </td>
                                                <td class="tt-single-event" rowspan="2">

                                                </td>
                                                <td class="tt-single-event" rowspan="2">
                                                    <a class="event-header" href="#">YOGA CLASS</a>
                                                    <div class="before-hour-text">Fanny Davis</div>
                                                </td>
                                                <td class="tt-single-event" rowspan="2">
                                                </td>
                                                <td class="tt-single-event" rowspan="2">
                                                </td>
                                                <td class="tt-single-event" rowspan="2">
                                                    <a class="event-header" href="#">CARDIO BURN</a>
                                                </td>
                                                <td class="tt-single-event" rowspan="2">
                                                    <a class="event-header" href="#">OPEN GYM</a>
                                                </td>
                                            </tr>
                                            <tr class="row-twelve">
                                                <td class="tt-hours-column">17:00 - 18:00</td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="gym">
                                <div class="all-program-routine table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr class="heading-row">
                                                <th></th>
                                                <th>Monday</th>
                                                <th>Tuesday</th>
                                                <th>Wednesday</th>
                                                <th>Thursday</th>
                                                <th>Friday</th>
                                                <th>Saturday</th>
                                                <th>Sunday</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="row-one">
                                                <td class="tt-hours-column">6:00 - 07:00</td>
                                                <td class="tt-single-event" rowspan="2">
                                                    <a class="event-header" href="#">Open Gym</a>
                                                </td>
                                                <td class="tt-single-event" rowspan="2">
                                                    <a class="event-header" href="#">BODY CLASS</a>
                                                    <div class="before-hour-text">Don Ortega</div>
                                                </td>
                                                <td class="tt-single-event" rowspan="2">
                                                    <a class="event-header" href="#">YOGA CLASS</a>
                                                    <div class="before-hour-text">Fanny Davis</div>
                                                </td>
                                                <td class="tt-single-event active" rowspan="2">
                                                    <a class="event-header" href="#">OPEN GYM</a>
                                                    <div class="before-hour-text">Don Ortega</div>
                                                    <span class="table-badge">GYM</span>
                                                </td>
                                                <td class="tt-single-event" rowspan="2">
                                                    <a class="event-header" href="#">POWER LIFTING</a>
                                                    <div class="before-hour-text">Harold Kim</div>
                                                </td>
                                                <td class="tt-single-event" rowspan="2">
                                                    <a class="event-header" href="#">CARDIO BURN</a>
                                                </td>
                                                <td class="tt-single-event" rowspan="2">
                                                    <a class="event-header" href="#">YOGA CLASS</a>
                                                    <div class="before-hour-text">Fanny Davis</div>
                                                </td>
                                            </tr>
                                            <tr class="row-two">
                                                <td class="tt-hours-column">07:00 - 08:00</td>
                                            </tr>
                                            <tr class="row-three">
                                                <td class="tt-hours-column">08:00 - 09:00</td>
                                                <td class="tt-single-event" rowspan="2">

                                                </td>
                                                <td class="tt-single-event" rowspan="2">
                                                    <a class="event-header" href="#">OPEN GYM</a>
                                                    <div class="before-hour-text">Don Ortega</div>
                                                </td>
                                                <td class="tt-single-event" rowspan="2">
                                                    <a class="event-header" href="#">POWER LIFTING</a>
                                                    <div class="before-hour-text">Harold Kim</div>
                                                </td>
                                                <td class="tt-single-event" rowspan="2">

                                                </td>
                                                <td class="tt-single-event" rowspan="2">

                                                </td>
                                                <td class="tt-single-event" rowspan="2">
                                                    <a class="event-header" href="#">YOGA CLASS</a>
                                                    <div class="before-hour-text">Fanny Davis</div>
                                                </td>
                                                <td class="tt-single-event" rowspan="2">

                                                </td>
                                            </tr>
                                            <tr class="row-four">
                                                <td class="tt-hours-column">10:00 - 11:00</td>
                                            </tr>
                                            <tr class="row-five">
                                                <td class="tt-hours-column">11:00 - 12:00</td>
                                                <td class="tt-single-event">
                                                    <a class="event-header" href="#">POWER LIFTING</a>
                                                    <div class="before-hour-text">Harold Kim</div>
                                                </td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr class="row-six">
                                                <td class="tt-hours-column">11:00 - 12:00</td>
                                                <td class="tt-single-event" rowspan="2">

                                                </td>
                                                <td class="tt-single-event" rowspan="2">
                                                    <a class="event-header" href="#">OPEN GYM</a>
                                                    <div class="before-hour-text">Don Ortega</div>
                                                </td>
                                                <td class="tt-single-event" rowspan="2">
                                                    <a class="event-header" href="#">POWER LIFTING</a>
                                                    <div class="before-hour-text">Harold Kim</div>
                                                </td>
                                                <td class="tt-single-event" rowspan="2">
                                                    <a class="event-header" href="#">OPEN GYM</a>
                                                </td>
                                                <td class="tt-single-event" rowspan="5">
                                                    <a class="event-header" href="#">POWER LIFTING</a>
                                                    <div class="before-hour-text">Harold Kim</div>
                                                    <br>
                                                    <br>
                                                    <a class="event-header" href="#">CROSSFIT CLASS</a>
                                                    <div class="before-hour-text">Harold Kim</div>

                                                </td>
                                                <td class="tt-single-event" rowspan="2">

                                                </td>
                                                <td class="tt-single-event" rowspan="2">
                                                    <a class="event-header" href="#">YOGA CLASS</a>
                                                    <div class="before-hour-text">Fanny Davis</div>
                                                </td>
                                            </tr>
                                            <tr class="row-seven">
                                                <td class="tt-hours-column">12:00 - 13:00</td>
                                            </tr>
                                            <tr class="row-eight">
                                                <td class="tt-hours-column">13:00 - 14:00</td>
                                                <td class="tt-single-event" rowspan="3">
                                                    <a class="event-header" href="#">BODY CLASS</a>
                                                    <div class="before-hour-text">Don Ortega</div>
                                                </td>
                                                <td class="tt-single-event" rowspan="2">
                                                    <a class="event-header" href="#">BODY CLASS</a>
                                                    <div class="before-hour-text">Don Ortega</div>
                                                </td>
                                                <td class="tt-single-event" rowspan="2">
                                                </td>
                                                <td class="tt-single-event" rowspan="2">
                                                    <a class="event-header" href="#">CARDIO BURN</a>
                                                    <div class="before-hour-text">Madison Fren</div>
                                                </td>
                                                <td class="tt-single-event" rowspan="2">
                                                    <a class="event-header" href="#">POWER LIFTING</a>
                                                    <div class="before-hour-text">Fanny Davis</div>
                                                </td>
                                                <td class="tt-single-event" rowspan="2">

                                                </td>
                                            </tr>
                                            <tr class="row-nine">
                                                <td class="tt-hours-column">15:00 - 16:00</td>
                                            </tr>
                                            <tr class="row-ten">
                                                <td class="tt-hours-column">16:00 - 17:00</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr class="row-eleven">
                                                <td class="tt-hours-column">06.00 - 07.00</td>
                                                <td class="tt-single-event" rowspan="2">
                                                </td>
                                                <td class="tt-single-event" rowspan="2">

                                                </td>
                                                <td class="tt-single-event" rowspan="2">
                                                    <a class="event-header" href="#">YOGA CLASS</a>
                                                    <div class="before-hour-text">Fanny Davis</div>
                                                </td>
                                                <td class="tt-single-event" rowspan="2">
                                                </td>
                                                <td class="tt-single-event" rowspan="2">
                                                </td>
                                                <td class="tt-single-event" rowspan="2">
                                                    <a class="event-header" href="#">CARDIO BURN</a>
                                                </td>
                                                <td class="tt-single-event" rowspan="2">
                                                    <a class="event-header" href="#">OPEN GYM</a>
                                                </td>
                                            </tr>
                                            <tr class="row-twelve">
                                                <td class="tt-hours-column">17:00 - 18:00</td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="powerlifting">
                                <div class="all-program-routine table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr class="heading-row">
                                                <th></th>
                                                <th>Monday</th>
                                                <th>Tuesday</th>
                                                <th>Wednesday</th>
                                                <th>Thursday</th>
                                                <th>Friday</th>
                                                <th>Saturday</th>
                                                <th>Sunday</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="row-one">
                                                <td class="tt-hours-column">6:00 - 07:00</td>
                                                <td class="tt-single-event" rowspan="2">
                                                    <a class="event-header" href="#">Open Gym</a>
                                                </td>
                                                <td class="tt-single-event" rowspan="2">
                                                    <a class="event-header" href="#">BODY CLASS</a>
                                                    <div class="before-hour-text">Don Ortega</div>
                                                </td>
                                                <td class="tt-single-event" rowspan="2">
                                                    <a class="event-header" href="#">YOGA CLASS</a>
                                                    <div class="before-hour-text">Fanny Davis</div>
                                                </td>
                                                <td class="tt-single-event active" rowspan="2">
                                                    <a class="event-header" href="#">OPEN GYM</a>
                                                    <div class="before-hour-text">Don Ortega</div>
                                                    <span class="table-badge">GYM</span>
                                                </td>
                                                <td class="tt-single-event" rowspan="2">
                                                    <a class="event-header" href="#">POWER LIFTING</a>
                                                    <div class="before-hour-text">Harold Kim</div>
                                                </td>
                                                <td class="tt-single-event" rowspan="2">
                                                    <a class="event-header" href="#">CARDIO BURN</a>
                                                </td>
                                                <td class="tt-single-event" rowspan="2">
                                                    <a class="event-header" href="#">YOGA CLASS</a>
                                                    <div class="before-hour-text">Fanny Davis</div>
                                                </td>
                                            </tr>
                                            <tr class="row-two">
                                                <td class="tt-hours-column">07:00 - 08:00</td>
                                            </tr>
                                            <tr class="row-three">
                                                <td class="tt-hours-column">08:00 - 09:00</td>
                                                <td class="tt-single-event" rowspan="2">

                                                </td>
                                                <td class="tt-single-event" rowspan="2">
                                                    <a class="event-header" href="#">OPEN GYM</a>
                                                    <div class="before-hour-text">Don Ortega</div>
                                                </td>
                                                <td class="tt-single-event" rowspan="2">
                                                    <a class="event-header" href="#">POWER LIFTING</a>
                                                    <div class="before-hour-text">Harold Kim</div>
                                                </td>
                                                <td class="tt-single-event" rowspan="2">

                                                </td>
                                                <td class="tt-single-event" rowspan="2">

                                                </td>
                                                <td class="tt-single-event" rowspan="2">
                                                    <a class="event-header" href="#">YOGA CLASS</a>
                                                    <div class="before-hour-text">Fanny Davis</div>
                                                </td>
                                                <td class="tt-single-event" rowspan="2">

                                                </td>
                                            </tr>
                                            <tr class="row-four">
                                                <td class="tt-hours-column">10:00 - 11:00</td>
                                            </tr>
                                            <tr class="row-five">
                                                <td class="tt-hours-column">11:00 - 12:00</td>
                                                <td class="tt-single-event">
                                                    <a class="event-header" href="#">POWER LIFTING</a>
                                                    <div class="before-hour-text">Harold Kim</div>
                                                </td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr class="row-six">
                                                <td class="tt-hours-column">11:00 - 12:00</td>
                                                <td class="tt-single-event" rowspan="2">

                                                </td>
                                                <td class="tt-single-event" rowspan="2">
                                                    <a class="event-header" href="#">OPEN GYM</a>
                                                    <div class="before-hour-text">Don Ortega</div>
                                                </td>
                                                <td class="tt-single-event" rowspan="2">
                                                    <a class="event-header" href="#">POWER LIFTING</a>
                                                    <div class="before-hour-text">Harold Kim</div>
                                                </td>
                                                <td class="tt-single-event" rowspan="2">
                                                    <a class="event-header" href="#">OPEN GYM</a>
                                                </td>
                                                <td class="tt-single-event" rowspan="5">
                                                    <a class="event-header" href="#">POWER LIFTING</a>
                                                    <div class="before-hour-text">Harold Kim</div>
                                                    <br>
                                                    <br>
                                                    <a class="event-header" href="#">CROSSFIT CLASS</a>
                                                    <div class="before-hour-text">Harold Kim</div>

                                                </td>
                                                <td class="tt-single-event" rowspan="2">

                                                </td>
                                                <td class="tt-single-event" rowspan="2">
                                                    <a class="event-header" href="#">YOGA CLASS</a>
                                                    <div class="before-hour-text">Fanny Davis</div>
                                                </td>
                                            </tr>
                                            <tr class="row-seven">
                                                <td class="tt-hours-column">12:00 - 13:00</td>
                                            </tr>
                                            <tr class="row-eight">
                                                <td class="tt-hours-column">13:00 - 14:00</td>
                                                <td class="tt-single-event" rowspan="3">
                                                    <a class="event-header" href="#">BODY CLASS</a>
                                                    <div class="before-hour-text">Don Ortega</div>
                                                </td>
                                                <td class="tt-single-event" rowspan="2">
                                                    <a class="event-header" href="#">BODY CLASS</a>
                                                    <div class="before-hour-text">Don Ortega</div>
                                                </td>
                                                <td class="tt-single-event" rowspan="2">
                                                </td>
                                                <td class="tt-single-event" rowspan="2">
                                                    <a class="event-header" href="#">CARDIO BURN</a>
                                                    <div class="before-hour-text">Madison Fren</div>
                                                </td>
                                                <td class="tt-single-event" rowspan="2">
                                                    <a class="event-header" href="#">POWER LIFTING</a>
                                                    <div class="before-hour-text">Fanny Davis</div>
                                                </td>
                                                <td class="tt-single-event" rowspan="2">

                                                </td>
                                            </tr>
                                            <tr class="row-nine">
                                                <td class="tt-hours-column">15:00 - 16:00</td>
                                            </tr>
                                            <tr class="row-ten">
                                                <td class="tt-hours-column">16:00 - 17:00</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr class="row-eleven">
                                                <td class="tt-hours-column">06.00 - 07.00</td>
                                                <td class="tt-single-event" rowspan="2">
                                                </td>
                                                <td class="tt-single-event" rowspan="2">

                                                </td>
                                                <td class="tt-single-event" rowspan="2">
                                                    <a class="event-header" href="#">YOGA CLASS</a>
                                                    <div class="before-hour-text">Fanny Davis</div>
                                                </td>
                                                <td class="tt-single-event" rowspan="2">
                                                </td>
                                                <td class="tt-single-event" rowspan="2">
                                                </td>
                                                <td class="tt-single-event" rowspan="2">
                                                    <a class="event-header" href="#">CARDIO BURN</a>
                                                </td>
                                                <td class="tt-single-event" rowspan="2">
                                                    <a class="event-header" href="#">OPEN GYM</a>
                                                </td>
                                            </tr>
                                            <tr class="row-twelve">
                                                <td class="tt-hours-column">17:00 - 18:00</td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Program Section End -->

        <div class="footer-section section section-fluid-240" data-bg-color="#1C1C1C">
            <div class="container">

                <!-- Footer Top Widgets Start -->
                <div class="row mb-lg-14 mb-md-10 mb-6 align-items-center">

                    <!-- Footer Widget Start -->
                    <div class="col-lg-3 col-md-5 col-sm-12 col-12 col-12 mb-6">
                        <div class="footer-widget">
                            <div class="footer-logo">
                                <a href="index.html"><img src="frontend_style/images/logo/footer-logo.png" alt="Logo"></a>
                            </div>
                            <div class="footer-widget-content">
                                <div class="footer-social-inline">
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-linkedin"></i></a>
                                    <a href="#"><i class="fab fa-vimeo-v"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Footer Widget End -->

                    <!-- Footer Widget Start -->
                    <div class="offset-lg-1 col-lg-5 col-md-7 col-sm-12 col-12 mb-6">
                        <div class="footer-widget">
                            <div class="footer-widget-content">
                                <ul class="column-2">
                                    <li><a href="#">Hastheme for Business</a></li>
                                    <li><a href="#">Teach on Udemy</a></li>
                                    <li><a href="#">Get the app</a></li>
                                    <li><a href="#">About us</a></li>
                                    <li><a href="#">Contact us</a></li>
                                    <li><a href="#">Careers</a></li>
                                    <li><a href="#">Blog</a></li>
                                    <li><a href="#">Help and Support</a></li>
                                    <li><a href="#">Affiliate</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Footer Widget End -->

                    <!-- Footer Widget Start -->
                    <div class="col-lg-3 col-md-6 col-sm-12 col-12 mb-6">
                        <div class="footer-widget">
                            <div class="footer-widget-content">
                                <div class="ft-instagram-list">

                                    <div class="instagram-grid-wrap">

                                        <!-- Start Single Instagram -->
                                        <div class="item-grid grid-style--1">
                                            <div class="thumb">
                                                <a href="#">
                                                    <img src="frontend_style/images/instagram/instagram1.png" alt="instagram images">
                                                </a>
                                                <div class="item-info">
                                                    <div class="inner">
                                                        <a href="#"><i class="fas fa-heart"></i>1k</a>
                                                        <a href="#"><i class="fas fa-comment-dots"></i>9</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Start Single Instagram -->

                                        <!-- Start Single Instagram -->
                                        <div class="item-grid grid-style--1">
                                            <div class="thumb">
                                                <a href="#">
                                                    <img src="frontend_style/images/instagram/instagram2.png" alt="instagram images">
                                                </a>
                                                <div class="item-info">
                                                    <div class="inner">
                                                        <a href="#"><i class="fas fa-heart"></i>1k</a>
                                                        <a href="#"><i class="fas fa-comment-dots"></i>9</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Start Single Instagram -->

                                        <!-- Start Single Instagram -->
                                        <div class="item-grid grid-style--1">
                                            <div class="thumb">
                                                <a href="#">
                                                    <img src="frontend_style/images/instagram/instagram3.png" alt="instagram images">
                                                </a>
                                                <div class="item-info">
                                                    <div class="inner">
                                                        <a href="#"><i class="fas fa-heart"></i>1k</a>
                                                        <a href="#"><i class="fas fa-comment-dots"></i>9</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Start Single Instagram -->

                                        <!-- Start Single Instagram -->
                                        <div class="item-grid grid-style--1">
                                            <div class="thumb">
                                                <a href="#">
                                                    <img src="frontend_style/images/instagram/instagram4.png" alt="instagram images">
                                                </a>
                                                <div class="item-info">
                                                    <div class="inner">
                                                        <a href="#"><i class="fas fa-heart"></i>1k</a>
                                                        <a href="#"><i class="fas fa-comment-dots"></i>9</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Start Single Instagram -->

                                        <!-- Start Single Instagram -->
                                        <div class="item-grid grid-style--1">
                                            <div class="thumb">
                                                <a href="#">
                                                    <img src="frontend_style/images/instagram/instagram5.png" alt="instagram images">
                                                </a>
                                                <div class="item-info">
                                                    <div class="inner">
                                                        <a href="#"><i class="fas fa-heart"></i>1k</a>
                                                        <a href="#"><i class="fas fa-comment-dots"></i>9</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Start Single Instagram -->

                                        <!-- Start Single Instagram -->
                                        <div class="item-grid grid-style--1">
                                            <div class="thumb">
                                                <a href="#">
                                                    <img src="frontend_style/images/instagram/instagram6.png" alt="instagram images">
                                                </a>
                                                <div class="item-info">
                                                    <div class="inner">
                                                        <a href="#"><i class="fas fa-heart"></i>1k</a>
                                                        <a href="#"><i class="fas fa-comment-dots"></i>9</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Start Single Instagram -->

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Footer Widget End -->

                </div>
                <!-- Footer Top Widgets End -->

                <!-- Footer Copyright Start -->
                <div class="row">
                    <div class="col">
                        <p class="copyright">Copyright &copy; 2021 All Rights Reserved | Made with <i class="fal fa-heart"></i> by <a href="https://hasthemes.com/">HasThemes</a>. </p>
                    </div>
                </div>
                <!-- Footer Copyright End -->

            </div>
        </div>

        <!-- Scroll Top Start -->
        <a href="#" class="scroll-top" id="scroll-top">
            <i class="arrow-top fal fa-long-arrow-up"></i>
            <i class="arrow-bottom fal fa-long-arrow-up"></i>
        </a>
        <!-- Scroll Top End -->

    </div>
    <div id="site-main-mobile-menu" class="site-main-mobile-menu">
        <div class="site-main-mobile-menu-inner">
            <div class="mobile-menu-header">
                <div class="mobile-menu-logo">
                    <a href="index.html"><img src="frontend_style/images/logo/logo.png" alt=""></a>
                </div>
                <div class="mobile-menu-close">
                    <button class="toggle">
                        <i class="icon-top"></i>
                        <i class="icon-bottom"></i>
                    </button>
                </div>
            </div>
            <div class="mobile-menu-content">
                <nav class="site-mobile-menu">
                    <ul>
                        <li>
                            <a href="index.html"><span class="menu-text">Home</span></a>
                        </li>
                        <li class="has-children">
                            <a href="about.html"><span class="menu-text">Pages</span></a>
                            <span class="menu-toggle"><i class="far fa-angle-down"></i></span>
                            <ul class="sub-menu">
                                <li><a href="about.html"><span class="menu-text">About</span></a></li>
                                <li><a href="team.html"><span class="menu-text">Our Team</span></a></li>
                                <li><a href="contact.html"><span class="menu-text">Contact</span></a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="our-program.html"><span class="menu-text">Our Program</span></a>
                        </li>
                        <li class="has-children">
                            <a href="shop.html"><span class="menu-text">Shop</span></a>
                            <span class="menu-toggle"><i class="far fa-angle-down"></i></span>
                            <ul class="sub-menu">
                                <li><a href="shop.html"><span class="menu-text">Shop</span></a></li>
                                <li><a href="product-details.html"><span class="menu-text">Product Details</span></a></li>
                                <li><a href="shopping-cart.html"><span class="menu-text">Shopping Cart</span></a></li>
                                <li><a href="wishlist.html"><span class="menu-text">Wishlist</span></a></li>
                                <li><a href="checkout.html"><span class="menu-text">Checkout</span></a></li>
                            </ul>
                        </li>
                        <li class="has-children">
                            <a href="blog-grid.html"><span class="menu-text">Blog</span></a>
                            <span class="menu-toggle"><i class="far fa-angle-down"></i></span>
                            <ul class="sub-menu">
                                <li><a href="blog-grid.html"><span class="menu-text">Blog Grid</span></a></li>
                                <li><a href="blog-details.html"><span class="menu-text">Blog Details</span></a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="event.html"><span class="menu-text">Event</span></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <!-- JS
    ============================================ -->

    <!-- Vendors JS -->
    <script src="frontend_style/js/vendor/modernizr-3.11.2.min.js"></script>
    <script src="frontend_style/js/vendor/jquery-3.5.1.min.js"></script>
    <script src="frontend_style/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="frontend_style/js/vendor/bootstrap.bundle.min.js"></script>
{{url('')}}
    <!-- Plugins JS -->
    <script src="frontend_style/js/plugins/aos.min.js"></script>
    <script src="frontend_style/js/plugins/jquery.ajaxchimp.min.js"></script>
    <script src="frontend_style/js/plugins/jquery.counterup.min.js"></script>
    <script src="frontend_style/js/plugins/jquery.magnific-popup.min.js"></script>
    <script src="frontend_style/js/plugins/vivus.min.js"></script>
    <script src="frontend_style/js/plugins/svg-inject.min.js"></script>
    <script src="frontend_style/js/plugins/swiper.min.js"></script>
    <script src="frontend_style/js/plugins/waypoints.min.js"></script>

    <!-- Use the minified version files listed below for better performance and remove the files listed above -->
    <!-- <script src="frontend_style/js/vendor/vendor.min.js"></script>
    <script src="frontend_style/js/plugins/plugins.min.js"></script> -->

    <!-- Main Activation JS -->
    <script src="frontend_style/js/main.js"></script>




</body>

</html>